@import '../common.scss';

.panel {
  font-family: $roboto;
  position: relative;
  flex-grow: 1;
  .name,
  .tagline {
    position: absolute;
  }
  .name {
    left: 5vh;
    top: 50%;
    margin-top: -6.5vh;
    font-size: 5vh;
    line-height: 5vh;
    font-weight: 300;
  }
  .tagline {
    top: 60%;
    right: 5vh;
    font-size: 2.5vh;
    line-height: 2.5vh;
    font-weight: 500;
  }
  .description,
  .button,
  img{
    display: none;
  }

  //set odd elements background yellow and children elements to black
  background:
    radial-gradient(circle at top left,
    nth($colors, 1), nth($colors, 1),
    darken(nth($colors, 1), 8%));
  .name,
  .tagline,
  .description,
  .button {
    color: nth($colors, 2);
  }
  .button:hover{
    color: nth($colors, 1);
    background: nth($colors, 2);
    transition-duration: 0.2s;
  }
  //set even elements background black and children elements to yellow  
  &:nth-of-type(even) {
    background:
      radial-gradient(circle at top left,
      nth($colors,2), nth($colors, 2),
      darken(nth($colors, 2), 8%));   
    .name,
    .tagline,
    .description,
    .button {
      color: nth($colors, 1);
    }
    .button:hover{
      color: nth($colors, 2);
      background: nth($colors, 1);
    }
  }
}

.hidden {
  flex-grow: 0;
  * {
    opacity: 0;
    pointer-events: none;
  }
}

.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3vh;
  text-align: center;
  img,
  .name,
  .tagline,
  .description,
  .button {
    position: static;
    display: block;    
  }
  .name {
    font-size: 7.5vh;
    font-weight: 100;
    line-height: 65px;
  }
  img{
    height: 20vh;
    margin-bottom: 8vh;
  }
  .button{
    border: 1px solid;
    border-radius: 1vh;
    padding: 9px;
    text-decoration: none;
  }
}