@import '../common.scss';

.panel {
  font-family: $roboto;
  position: relative;
  flex-grow: 1;
  .name, .tagline {
    position: absolute;
  }
  .name {
    left: 5vh;
    top: 50%;
    margin-top: -2.5vh;
    font-size: 5vh;
    line-height: 5vh;
    font-weight: 300;
  }
  .tagline {
    top: 50%;
    right: 5vh;
    font-size: 2.5vh;
    line-height: 2.5vh;
    font-weight: 500;
  }
  @for $i from 1 through 4 {
    &:nth-of-type(#{$i}) {
      background:
        radial-gradient(circle at top left,
        nth($colors, $i+1), nth($colors, $i+1),
        darken(nth($colors, $i+1), 8%));
      h1 {
        color: nth($colors, $i+2);
      }
      .tagline {
        color: nth($colors, $i);
      }
    }
  }
}