@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500');

$animation-time: 0.4s;

$roboto: 'Roboto', sans-serif;

$colors:
  #a49528, #F6EC82, #DFB361,
  #D6795E, #A75377, #3B3B56;
