@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500');

$animation-time: 0.4s;

$roboto: 'Roboto', sans-serif;

$colors:  #F6EC82, #424242, #F6EC82, #424242, #F6EC82, #424242;
